<div class="orbit" id="main-banner" style="margin-top: 2px; margin-left: 7px;" role="region" aria-label="Балтийская служба доставки" data-orbit="data-orbit" data-use-m-u-i="false" data-options="data-bullets:false; data-auto-play:true; data-timer-delay:300; data-infinite-wrap:true;">
  <div class="orbit-wrapper">
    <ul class="orbit-container">
      <% @banners.each do |banner| %>
        <li class="orbit-slide">
          <figure class="orbit-figure">
            <a href="<%= banner.uri %>">
            <%= image_tag(banner.picture.url, class: 'orbit-image') if banner.picture? %>
            <figcaption class="orbit-caption"><%= banner.description %></figcaption></a>
          </figure>
        </li>
      <% end %>
    </ul>
  </div>
</div>
