<div class="metro-theme-ui">
	<div class="metro-ui-row">
					<div class="metro-ui-column" data-switch="true" data-switches='[{"image": "", "content": "Санкт-Петербург-Краснодар c 19.11.2018 меняется плотность, теперь она составит 1м<sup>3</sup>=250кг"}]'></div>
	</div>
</div>
