<ul class="tabs" data-active-collapse="true" data-tabs id="admin-tabs">
  <li class="tabs-title is-active"><a href="#dir1" aria-selected="true">Статистика</a></li>
  <li class="tabs-title"><a href="#dir2">Новости</a></li>
  <li class="tabs-title"><a href="#dir3">Баннеры</a></li>
  <li class="tabs-title"><a href="#dir4">Сведения о филиале</a></li>
  <li class="tabs-title"><a href="#dir5">Терминалы</a></li>
</ul>
<div class="tabs-content" data-tabs-content="admin-tabs">
  <div class="tabs-panel is-active" id="dir1">1</div>
  <div class="tabs-panel" id="dir2">2</div>
  <div class="tabs-panel" id="dir3">3</div>
  <div class="tabs-panel" id="dir4"><%= render file: 'branches/index' %></div>
  <div class="tabs-panel" id="dir5"><%= render file: 'storages/index' %></div>
</div>
