<div class="grid-x callout grid-margin-x">
  <div class="cell small-12 medium-8 small-order-2 medium-order-1">
    <table>
      <thead>
        <tr>
          <th>Дата</th>
          <th>Маршрут</th>
          <th>Вес/Объем</th>
          <th>Статус</th>
        </tr>
      </thead>

      <tbody>
        <% @user_orders.each do |order| %>
          <tr>
            <td><%= order.dt %></td>
            <td><%= "#{order.from_city} - #{order.to_city}" %></td>
            <td><%= "#{order.weight}/#{order.volume}" %></td>
            <td>-</td>
            <td>
              <i class="button fa fa-copy success"></i>
              <i class="button fa fa-edit"></i>
              <i class="button fa fa-trash alert"></i>
              <i class="button fa fa-briefcase"></i>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="cell small-12 medium-4 small-order-1 medium-order-2 list-group">
    <span class="list-group-item"><i class="fa fa-copy fa-fw" aria-hidden="true"></i>&nbsp; Скопировать и внести изменения</span><br>
    <span class="list-group-item"><i class="fa fa-edit fa-fw" aria-hidden="true"></i>&nbsp; Внести изменения</span><br>
    <span class="list-group-item"><i class="fa fa-briefcase fa-fw" aria-hidden="true"></i>&nbsp; Платежные документы</span><br>
    <span class="list-group-item"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp; Удалить из архива</span>
  </div>
</div>
