<div class="grid-x callout grid-margin-x">
  <div class="cell small-12 medium-8 small-order-2 medium-order-1">
    <%= if current_user.admin? then render 'admin' end %>
    <%= if current_user.director? then render 'director' end %>
    <%= if current_user.manager? then render 'manager' end %>

    <hr><br>
      <div class="cell small-12">
          <h5>Архив заявок</h5><hr>
      <div class="grid-x">
        <div class="cell small-12 medium-3 show-for-media">
          Дата
        </div>
        <div class="cell small-12 medium-4 show-for-media">
          Маршрут
        </div>
        <div class="cell small-12 medium-2 show-for-media">
          Вес/Объем
        </div>
        <div class="cell small-12 medium-3 show-for-media">&nbsp;</div>
        <% @user_orders.each do |order| %>
          <% @order = order %>
          <%= render 'order', order: @order %>
        <% end %>
      </div>
  </div>
  <div class="cell small-12 medium-4 small-order-1 medium-order-2 list-group">
    <span class="list-group-item"><i class="fa fa-copy fa-fw" aria-hidden="true"></i>&nbsp; Скопировать и внести изменения</span><br>
    <span class="list-group-item"><i class="fa fa-trash fa-fw" aria-hidden="true"></i>&nbsp; Удалить из архива</span>
    <span class="list-group-item"><i class="fa fa-briefcase fa-fw" aria-hidden="true"></i>&nbsp; Платежные документы</span><br>
  </div>
</div>
