<div class="callout">
<section class="marketing-site-three-up">
  <span>За каждую перевозку груза на Ваш бонусный счет поступают средства, которыми Вы можете оплатить дополнительные услуги.<br>Экономьте вместе с Балтийской Службой Доставки!</span><br>

  <h2 class="marketing-site-three-up-headline">Что можно оплатить бонусами?</h2>

  <div class="grid-x medium-unstack">
    <div class="cell small-12 medium-4">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">Храните дольше на складе</h4>
      <p class="marketing-site-three-up-desc">Оплатите бонусами дополнительные дни хранения Вашего груза на складе ТК "БСД"</p>
    </div>
    <div class="cell small-12 medium-4">
      <i class="fa fa-dropbox" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">Экономьте на упаковке</h4>
      <p class="marketing-site-three-up-desc">Закажите дополнительную упаковку груза (обрешетка, палетирование) и расплатитесь бонусами</p>
    </div>
    <div class="cell small-12 medium-4">
      <i class="fa fa-truck" aria-hidden="true"></i>
      <h4 class="marketing-site-three-up-title">Закажите доставку до "двери"</h4>
      <p class="marketing-site-three-up-desc">Вы можете оплатить до 50% стоимости доставки до двери</p>
    </div>
  </div>
  <h2 class="marketing-site-three-up-headline">Бонусный счет пополняется после оплаты перевозки</h2>
  <span>ВНИМАНИЕ! В бонусной программе учитываются <u>только</u> заявки оформленные на сайте ТК "БСД"</span>
  <h5>У вас есть свой сайт?</h5>
  <p>Разместите на нем ссылку на сайт ТК "БСД" и получайте бонусы на свой счет с каждого посетителя вашего сайта</p>
</section>
</div>
