Добрый день,
Вам предоставлены права <b>директора</b> филиала <%= @branch.name %><br>
В личном кабинете сайта вам доступны функции:
<ul>
  <li>редактирование реквизитов филиала;</li>
  <li>создание и редактирование сведений о терминалах отправки/приема грузов филиала</li>
  <li>формирование ценовых листов на услуги по доставке грузов Вашего филиала;</li>
  <li>назначение менеджеров филиала (пользователи с правом просматривать и вносить корректировки в заявки клиентов);</li>
  <li>создание и редактирование информационных баннеров;</li>
  <li>создание и редактирование новостных сообщений;</li>
</ul>
<% if @new_user_password.length != 0 %>
  <p>Мы создали для Вас учетную запись на нашем сайте<br>
    Для входа в личный кабинет, воспользуйтесь паролем <b><%= @new_user_password %></b>, логин <b><%= "#{@branch.email}" %></b>
  </p>
<% end %>
По умолчанию ваш e-mail указан в контактных данных филиала и будет отображаться всем пользователям интернета. Измените e-mail филиала, если для связи с клиентами используется другой почтовый ящик.<br>
<b>ВНИМАНИЕ!</b> Вы не можете передать свои права другому пользователю. Обратитесь к администратору сайта, если Вы желаете назначить другого пользователя для осуществления данных действий.
