<div class="grid-x  grid-padding-x grig-margin-x callout">
  <div class="cell small-12 medium-8">
    <p><p><b>ООО «Балтийская Служба Доставки»</b> заслужила репутацию честного и выгодного партнера на Российском рынке грузоперевозок, что важно для любой компании.
    Наши филиалы находятся в городах: Санкт-Петербург, Москва, Нижний Новгород, Ростов-на-Дону, Таганрог, Астрахань, Волгоград, Краснодар, Пятигорск.
    Компания ООО «БСД» также осуществляет автоматическую доставку груза до дверей клиента по Ростовской области, Краснодарскому, Ставропольскому краям и по Северному Кавказу.
    Мы принимаем к транспортировке грузы без ограничения веса и объема (от 1 кг и выше).</p>
    <p>Мы делаем все, чтобы общение и деловые отношения с нами были приятными и выгодными для Вас: индивидуальный подход к каждому Клиенту, умеренные тарифы и система скидок для постоянных клиентов. Мы дорожим каждым Клиентом и каждым грузом.
    В нашей компании работает квалифицированный персонал, используются передовые методы работы, что делает перевозку грузов доступной, быстрой и надежной.
    Одна из основных задач, которые мы перед собой ставим - минимизация времени, необходимого для оформления груза перед отправкой.</p>
  </div>
  <div class="cell small-12 medium-4">
    <h4>Услуги</h4>
    <p>Транспортно-логистическая компания «Балтийская Служба Доставки» специализируется на следующем комплексе услуг:
    <ul>
      <li>Авиа грузоперевозки</li>
      <li>Железнодорожные грузоперевозки</li>
      <li>Автомобильные грузоперевозки</li>
    </ul></p>
  </div>
</div>
