<div class="grid-x callout">
  <div class="cell small-1">&nbsp;</div>
<div class="cell small-12 medium-9">
  <p>В соответствии с требованиями Федерального закона РФ от 27.07.2006 № 149-ФЗ «Об информации, информационных технологиях и о защите информации», статьями 3, 5, 6, 9 Федерального закона РФ от 27.07.2006 № 152-ФЗ «О персональных данных» даю согласие Обществу с ограниченной ответственностью «Балтийская служба доставки» (далее – ООО «БСД»), находящемуся по адресу 107207, город Москва, Щёлковское шоссе, дом 77 строение 1, комната 216-1 на: обработку моих персональных данных с использованием средств автоматизации или без использования таких средств, а именно - совершение действий, предусмотренных п.3 ч.1 ст.3 ФЗ от 27.07.2006 г. № 152 ФЗ «О персональных данных», с целью обработки заказов, запросов или других действий, связанных с осуществлением заказов, оповещения об изменении порядка оказания услуг, перечня проводимых акций, мероприятий, скидок и т.п.</p>
  <p>Срок прекращения обработки персональных данных – по достижении цели обработки персональных данных.</p>
  <p>Я оставляю за собой право отозвать свое согласие посредством составления соответствующего письменного документа, который может быть направлен мной в адрес ООО «БСД» по почте заказным письмом с уведомлением о вручении либо вручен лично под расписку представителю ООО «БСД».</p>
</div>
</div>
