<footer class="flex-rw">
    <section class="footer-social-section flex-rw">
      <span class="footer-social-overlap footer-social-connect">
      Мы в соцсетях</span>
      <span class="footer-social-overlap footer-social-icons-wrapper">
        <a href="https://vk.com/bsdtrans" class="generic-anchor" target="_blank" title="ВКонтакте" itemprop="significantLink"><i class="fa fa-vk"></i></a>
        <a href="https://vk.com/bsdtrans" class="generic-anchor" target="_blank" title="Одноклассники" itemprop="significantLink"><i class="fa fa-odnoklassniki"></i></a>
        <a href="https://vk.com/bsdtrans" class="generic-anchor" target="_blank" title="Instagram" itemprop="significantLink"><i class="fa fa-instagram"></i></a>
        <a href="https://vk.com/bsdtrans" class="generic-anchor" target="_blank" title="Youtube" itemprop="significantLink"><i class="fa fa-youtube"></i></a>
      </span>
  </section>
</footer>
