<div data-closable class="notice callout alert-callout-subtle primary small success">
  <%= notice %>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">⊗</span>
  </button>
</div>
<div data-closable class="notice callout alert-callout-subtle primary small warning">
  <%= alert %>
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">⊗</span>
  </button>
</div>
